@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
  background-color: #fff!important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
}
.uk-h4 {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
}

span {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif'!important;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #f1f1f1!important;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 0 6px 6px 6px rgb(0 0 0 / 30%);

  }
  .nav__list {
    display: flex;
    justify-content: space-around;
  }
  .nav__link {
    color: #2e363e;
    position: relative;
  }
  .nav__link i {
    color: rgb(0 0 0 / 30%);
  }

  li {
    list-style:none;
  }

  table  {
    height: 200px;
  }

  .uk-card.uk-card-default.uk-card-body {
  border-radius: 10px 10px  10px 10px;
  box-sizing: 0 5px 15px rgb(0 0 0 / 4%)!important;
}

.updown {
  background-color: gray;
  line-height: 2px;
}

.fd {
  padding-top: 10px;
}

.navbar2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  position: fixed;
}

.div2 {
  padding-bottom: 20px;
  background-color: blueviolet;
  color: white!important;
}

.uk-input {
  border-radius: 0.8rem!important;
}

.uk-select {
  border-radius: 0.8rem!important;
}

ul {
  list-style: none!important;
  padding-right:30px;
  padding-left:20px;
}

.uk-card-default {
  border: 2px solid #f2f2f2;
  box-shadow: 0 5px 15px rgba(0,0,0,0)!important;
}

.uk-button {
  border-radius: 0.8rem!important;
}

.prev {
  padding-top: 20px;
  padding-bottom:15px;
  background-color: white;
}

.uk-textarea {
  border-radius: 0.8rem!important;
}
